body{
    font-family: Arial, Helvetica, sans-serif;
}

#grid-container{
    display: grid;
    grid-template-areas: "header" "main" "footer";
}

header, main, footer{
    padding: 1rem;
}

header{
    font-size: 1.5rem;
    font-weight: 600;
    grid-area: header;
    background-color: #000;
    text-align: center;
    color: #fff;
}

header nav{
    display: flex;
    justify-content: space-between;
    position: relative;
}

header nav div{
    display: flex;
    gap: 1rem;
    font-size: 2rem;
}

#logo{
    text-decoration: none;
    font-size: 2rem;
    text-align: center;
    margin-left: 2.5rem;
    color: #fff;
}   

.navbar{
    display: none;
}

.responsive{
    display: flex;
    flex-direction: column;
    position: absolute;
    background-color: #242424;
    margin: 0;
    padding: 0;
    top: 40px;
    width: 100%;
    list-style: none;
}

.responsive a{
    color: #fff;
    display: inline-block;
    padding: 1rem;
    text-decoration: none;
}

.flex-section{
    position: relative;
    text-align: center;
}

#shophere{
    font-size: 2rem;
    color: #000;
    position: relative;
    bottom: 60px;
    background-color: #fff;
    border-radius: 10px;
    text-decoration: none;
}

.flex-section-2{
    position: relative;
    text-align: center;
}

#fallsale{
    font-size: 2rem;
    color: #000;
    position: relative;
    bottom: 60px;
    background-color: #fff;
    border-radius: 10px;
    text-decoration: none;
}

.column{
    position: relative;
    text-align: center;
}

#men{
    font-size: 1.5rem;
    color: #000;
    position: relative;
    bottom: 30px;
    background-color: #fff;
    border-radius: 10px;
    text-decoration: none;
}

#women{
    font-size: 1.5rem;
    color: #000;
    position: relative;
    bottom: 30px;
    background-color: #fff;
    border-radius: 10px;
    text-decoration: none;
}

.secondcolumn{
    position: relative;
    text-align: center;
}

#kids{
    font-size: 1.5rem;
    color: #000;
    position: relative;
    bottom: 30px;
    background-color: #fff;
    border-radius: 10px;
    text-decoration: none;
}

#news{
    font-size: 1.5rem;
    color: #000;
    position: relative;
    bottom: 30px;
    background-color: #fff;
    border-radius: 10px;
    text-decoration: none;
}

main{
    grid-area: main;
}

main section img{
    width: 100%;
    max-height: 300px;
    margin-top: 10px;
}

.row{
    display: flex;
}

.column{
    flex: 50%;
    padding: 5px;
}

.secondrow{
    display: flex;
}

.secondcolumn{
    flex: 50%;
    padding: 5px;
}



footer{
    grid-area: footer;
    background-color: #000;
    color: #fff;
}

#pageup{
    text-decoration: none;
    color: #fff;
}

.social-media{
    font-size: 2rem;
    padding-inline: 1rem;
}

.footer2{
    padding-top: 0.1rem;
}

@media only screen and (min-width: 600px) {
    #grid-container{
        grid-template-areas: "header header header" "main main main" "footer footer footer"
    }

    .navbar{
        display: flex;
        flex-direction: row;
        gap: 3rem;
        list-style: none;
        margin: 0;
        height: 70px;
        display: none;
        justify-content: space-around;
    }

    .flex-section{
        width: 40%;
        padding: 1rem; 
    }

    .flex-section-2{
        width: 40%;
        padding: 1rem;
    }

    .rader{
        flex-direction: row;
        display: flex;
        width: 100%;
    }
}

#filter{
    font-size: 1.5rem;
}

#sortby{
    font-size: 1.5rem;
}

.rowproducts{
    display: flex;
}

.columnproducts{
    flex: 50%;
    padding: 5px;
    line-height: 0.2;
}

.rowproducts2{
    display: flex;
}

.columnproducts2{
    flex: 50%;
    padding: 5px;
    line-height: 0.2;
}

.rowproducts3{
    display: flex;
}

.columnproducts3{
    flex: 50%;
    padding: 5px;
    line-height: 0.2;
}

.rowproducts4{
    display: flex;
}

.columnproducts4{
    flex: 50%;
    padding: 5px;
    line-height: 0.2
}
