*{
    box-sizing: border-box;
}

/*designet for iphone 11 pro max */
body{
    font-family: Arial, Helvetica, sans-serif;
}

#grid-container{
    display: grid;
    grid-template-areas: "header" "main" "footer";
}

header, main, footer{
    padding: 1rem;
}

header{
    font-size: 1.5rem;
    font-weight: 600;
    grid-area: header;
    background-color: #000;
    text-align: center;
    color: #fff;
}

header nav{
    display: flex;
    justify-content: space-between;
    position: relative;
}

header nav div{
    display: flex;
    gap: 1rem;
    font-size: 2rem;
    text-align: center;
}

#logo{
    text-decoration: none;
    font-size: 2rem;
    text-align: center;
    color: #fff;
    margin-left: 2.5rem;
}  

.navbar{
    display: none;
}

.responsive{
    display: flex;
    flex-direction: row;
    position: absolute;
    background-color: #242424;
    margin: 0;
    padding: 0;
    top: 40px;
    width: 100%;
    list-style: none;
}

.responsive a{
    color: #fff;
    display: inline-block;
    padding: 1rem;
    text-decoration: none;  
}

.flex-section{
    position: relative;
    text-align: center;
}

#shophere{
    font-size: 2rem;
    color: #000;
    position: relative;
    bottom: 60px;
    background-color: #fff;
    border-radius: 10px;
    text-decoration: none;
}

.flex-section-2{
    position: relative;
    text-align: center;
}

#fallsale{
    font-size: 2rem;
    color: #000;
    position: relative;
    bottom: 60px;
    background-color: #fff;
    border-radius: 10px;
    text-decoration: none;
}

.column{
    position: relative;
    text-align: center;
}

#men{
    font-size: 1.5rem;
    color: #000;
    position: relative;
    bottom: 30px;
    background-color: #fff;
    border-radius: 10px;
    text-decoration: none;
}

#women{
    font-size: 1.5rem;
    color: #000;
    position: relative;
    bottom: 30px;
    background-color: #fff;
    border-radius: 10px;
    text-decoration: none;
}

.secondcolumn{
    position: relative;
    text-align: center;
}

#kids{
    font-size: 1.5rem;
    color: #000;
    position: relative;
    bottom: 30px;
    background-color: #fff;
    border-radius: 10px;
    text-decoration: none;
}

#news{
    font-size: 1.5rem;
    color: #000;
    position: relative;
    bottom: 30px;
    background-color: #fff;
    border-radius: 10px;
    text-decoration: none;
}

main{
    grid-area: main;
}

main section img{
    width: 100%;
    max-height: 300px;
    margin-top: 10px;
}

.row{
    display: flex;
}

.column{
    flex: 50%;
    padding: 5px;
}

.secondrow{
    display: flex;
}

.secondcolumn{
    flex: 50%;
    padding: 5px;
}



footer{
    grid-area: footer;
    background-color: #000;
    color: #fff;
}

#retur{
    text-decoration: none;
    color: #fff;
}

#pageup{
    text-decoration: none;
    color: #fff;
}

.social-media{
    font-size: 2rem;
    padding-inline: 1rem;
}

.footer2{
    padding-top: 0.1rem;
}

/* Designet for desktop*/ 
@media only screen and (min-width: 760px) {
    #grid-container{
        grid-template-areas: "header header header" "main main main" "footer footer footer"
    }

    #logo{
        display: flex;
        padding-left: 37rem;
        font-size: 2.5rem;
    }

    .navbar{
        display: none;
    }

    .responsive{
        display: flex;
        flex-direction: row;
        position: absolute;
        background-color: #242424;
        margin: 0;
        padding: 0;
        top: 40px;
        width: 100%;
        list-style: none;
    }
    
    .responsive a{
        color: #fff;
        display: inline-block;
        padding: 1rem;
        text-decoration: none;  
    }

    .startside{
        display: flex;
        flex-direction: row;
    }

    .desktop{
        display: flex;
        flex-direction: row;
        padding: 1rem;
        gap: 1rem;
        text-align: center;
    }

    .flex-section{
        width: 50%;
        padding: 2rem; 
    }

    .flex-section-2{
        width: 50%;
        padding: 2rem;
    }

    .rader{
        flex-direction: row;
        display: flex;
        width: 100%;
        gap: 5rem;
    }

    .fourway{
        display: flex;
        flex-direction: row;
        width: 100%;
        padding: 1rem;
        gap: 2rem;
        float: right;
        color: #fff;
    }

    .secondfourway{
        display: flex;
        flex-direction: row;
        width: 100%;
        padding: 1rem;
        gap: 3rem;
        float: right;
        color: #fff;
    }

    .filter{
        display: none;
    }
}

#filter{
    font-size: 1.5rem;
    color: #fff;
}

#sortby{
    font-size: 1.5rem;
    color: #fff;
}

.rowproducts{
    display: flex;
    color: #fff;
}

.columnproducts{
    flex: 50%;
    padding: 5px;
    line-height: 0.2;
    color: #fff;
}

.rowproducts2{
    display: flex;
    color: #fff;
}

.columnproducts2{
    flex: 50%;
    padding: 5px;
    line-height: 0.2;
    color: #fff;
}

.rowproducts3{
    display: flex;
    color: #fff;
}

.columnproducts3{
    flex: 50%;
    padding: 5px;
    line-height: 0.2;
    color: #fff;
}

.rowproducts4{
    display: flex;
    color: #fff;
}

.columnproducts4{
    flex: 50%;
    padding: 5px;
    line-height: 0.2
}

@media only screen and (max-width: 760px) {
    
    .desktop{
        display: none;
    }

    .filtermenu{
        display: none;
    }

    .sortbymenu{
        display: none;
    }
}